@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #303034; /* Dark blue background for the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #303034; /* Light blue for the thumb */
  border-radius: 6px; /* Rounded corners */
  border: 3px solid #303034; /* Dark blue border */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #142638 #303034;
}

